<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.onionsquare.goabase">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application android:allowBackup="true"
                 android:name=".PsyApp"
                 android:icon="@mipmap/ic_launcher"
                 android:label="@string/app_name"
                 android:roundIcon="@mipmap/ic_launcher"
                 android:supportsRtl="true"
                 android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAvpbwJ_L0X-QyolF86wge0VS_8cwwQka0" />

        <activity android:name=".feature.country.CountriesActivity" android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".feature.parties.PartiesActivity"/>
        <activity android:name=".feature.partydetails.PartyDetailsActivity"/>
        <activity android:name=".feature.parties.PartiesMapActivity"/>
        <activity android:name=".feature.parties.PartiesOfflineActivity"/>

    </application>
</manifest>
